body {
  font-family: georgia,sans-serif;
  background: url(/images/header-bg.png) repeat-x top #f0efef;
  color:#333;
  margin:0;
  padding:0;
}

#header_wrapper {
  width: 950px;
}

#header {
  height: 120px; width 512px;
  background: url(/images/logo.gif) no-repeat;
  margin: 0px;
  padding: 0px;
}

#postbutton {
  float: right;
  padding: 30px 15px 0px 0px;
}

#header-right{
  background: url(/images/button.gif) no-repeat;
}

#wrap {
  background: #FFFFFF;
  border-top: 2px solid #3B3B3B;
  border-bottom: 2px solid #3B3B3B;
  border-left: 2px solid #3B3B3B;
  border-right: 2px solid #3B3B3B;
  width: 950px; 
  height: auto;
  margin: 50px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#footer {
}

tr { 
  display: block; 
  float: none; 
  margin: 0px; 
  background: url( '/images/tab_drop_bg.gif' ) 0px 0px;
  height: 3em;
}

#date {
  color: blue;
  font-weight: bold;
}

#title {
  width: 250px;
  font-weight: bold;
  font-size: 1.1em;
}

#company {
  width: 250px;
  font-weight: bold;
  font-size: 1.1em;
}

#city {
  width: 200px;
  font-weight: bold;
}

.small {
  font-size: .9em;
  color: #848484;
}
