<h1>About Jobbslist</h1>
<br />
Our mission is simple: We want to remove the hoop-lah of searching and posting for exciting jobs. Our primary focused is to deliver a simplified platform to give job seekers a list of easy to read job board postings. As a result, Jobbslist.com was born.
<br><br>
<strong>Search. Select. Apply.</strong>
